# Strings and Dictionaries

One place where the Python language really shines is in the manipulation of strings. This section will cover some of Python's built-in string methods and formatting operations.

Such string manipulation patterns come up often in the context of data science work. In Python can be defined using either single or double quotations. They are functionally equivalent.

In [2]:
x = 'Pluto is a planet'
y = "Pluto is a planet"
x == y

True

Double quotes are convenient if your string contains a single quote character (e.g. representing an apostrophe).

Similarly, it's easy to create a string that contains double-quotes if you wrap it in single quotes:

In [3]:
print("Pluto's a planet!")
print('My dog is named "Pluto"')

Pluto's a planet!
My dog is named "Pluto"

In [5]:
#If we try to put a single quote character inside a single-quoted string, Python gets confused:
'Pluto's a planet!'

SyntaxError: invalid syntax (1999444579.py, line 2)

The empty string has length zero. Note that the empty string is also the only string that Python considers as False when converting to boolean:

In [84]:
a = ""
print (len(a))

SyntaxError: unexpected EOF while parsing (2002482492.py, line 2)

In [6]:
#We can fix this by "escaping" the single quote with a backslash.
'Pluto\'s a planet!'

"Pluto's a planet!"

    What you type... 	  What you get 	  example               	print(example)
            \' 	' 	           '           What\'s up?'               What's up?
            \" 	" 	           "           That's \"cool\""           That's "cool"
            \\ 	\ 	           "           Look, a mountain: /\\"     Look, a mountain: /\
            \n 	                             "1\n2 3"                     1
                                                                             2 3
                                                                           


The last sequence, \n, represents the newline character. It causes Python to start a new line.

In [7]:
hello = "hello\nworld"
print(hello)

hello
world

In addition, Python's `triple quote syntax` for strings lets us include newlines literally (i.e. by just hitting 'Enter' on our keyboard, rather than using the special '\n' sequence). We've already seen this in the `docstrings` we use to document our functions, but we can use them anywhere we want to define a string

In [8]:
triplequoted_hello = """hello
world"""
print(triplequoted_hello)
triplequoted_hello == hello

hello
world

True

In [9]:
#The print() function automatically adds a newline character unless we specify a value for the keyword argument end other than the default value of '\n':
print("hello")
print("world")
print("hello", end='')
print("pluto", end='')

hello
world
hellopluto

## Strings are sequences

Strings can be thought of as sequences of characters. Almost everything we've seen that we can do to a list, we can also do to a string.

In [10]:
# Indexing
planet = 'Pluto'
planet[0]

'P'

In [11]:
# Slicing
planet[-3:]

'uto'

In [12]:
# How long is this string?
len(planet)

5

In [13]:
# Yes, we can even loop over them
[char+'! ' for char in planet]

['P! ', 'l! ', 'u! ', 't! ', 'o! ']

But a major way in which they differ from lists is that they are immutable. We can't modify them.

In [14]:
planet[0] = 'B'
# planet.append doesn't work either

TypeError: 'str' object does not support item assignment

## String methods

In [30]:
# ALL CAPS
claim = "Pluto is a planet!"
claim.upper()

'PLUTO IS A PLANET!'

In [16]:
# all lowercase
claim.lower()

'pluto is a planet!'

In [17]:
# Searching for the first index of a substring
claim.index('plan')

11

In [36]:
claim.startswith(planet)

True

In [35]:
# false because of missing exclamation mark
claim.endswith('planet')

False

## Going between strings and lists:

`str.split()` turns a string into a list of smaller strings, breaking on whitespace by default. This is super useful for taking you from one big string to a list of words.

In [26]:
words = claim.split()
words

['Pluto', 'is', 'a', 'planet!']

In [37]:
#Occasionally you'll want to split on something other than whitespace:
datestr = '1956-01-31'
year, month, day = datestr.split('-')

`str.join()` takes us in the other direction, sewing a list of strings up into one long string, using the string it was called on as a separator.

In [38]:
'/'.join([month, day, year])

'01/31/1956'

In [39]:
# Yes, we can put unicode characters right in our string literals :)
' 👏 '.join([word.upper() for word in words])

'PLUTO 👏 IS 👏 A 👏 PLANET!'

## Building strings with `.format()`

Python lets us concatenate strings with the `+` operator.

In [40]:
planet + ', we miss you.'

'Pluto, we miss you.'

In [43]:
#If we want to throw in any non-string objects, we have to be careful to call str() on them first
planet + ", you'll always be the " + str(9) + "th planet to me."

"Pluto, you'll always be the 9th planet to me."

### .format( )

In [50]:
#This is getting hard to read and annoying to type. str.format() to the rescue
"{}, you'll always be the {}th planet to me.".format(planet, 9)

"Pluto, you'll always be the 9th planet to me."

So much cleaner! We call `.format()` on a "format string", where the Python values we want to insert are represented with `{} placeholders`.

Notice how we didn't even have to call `str()` to convert position from an int. format() takes care of that for us.

If that was all that format() did, it would still be incredibly useful. But as it turns out, it can do a lot more. Here's just a taste:

In [51]:
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390
#         2 decimal points   3 decimal points, format as percent     separate with commas
"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(
    planet, pluto_mass, pluto_mass / earth_mass, population,
)

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

In [52]:
# Referring to format() arguments by index, starting from 0
s = """Pluto's a {0}.
No, it's a {1}.
{0}!
{1}!""".format('planet', 'dwarf planet')
print(s)

Pluto's a planet.
No, it's a dwarf planet.
planet!
dwarf planet!

For further readings on `.format( )` refer the links:
    1. https://pyformat.info/
    2. https://docs.python.org/3/library/string.html#formatstrings

## Dictionaries
Dictionaries are a built-in Python data structure for mapping keys to values

In [53]:
numbers = {'one':1, 'two':2, 'three':3}

In this case 'one', 'two', and 'three' are the keys, and 1, 2 and 3 are their corresponding values.

Values are accessed via square bracket syntax similar to indexing into lists and strings.

In [54]:
numbers['one']

1

In [55]:
#We can use the same syntax to add another key, value pair
numbers['eleven'] = 11
numbers

{'one': 1, 'two': 2, 'three': 3, 'eleven': 11}

In [56]:
#Or to change the value associated with an existing key
numbers['one'] = 'Pluto'
numbers

{'one': 'Pluto', 'two': 2, 'three': 3, 'eleven': 11}

In [58]:
#Python has dictionary comprehensions with a syntax similar to the list comprehensions
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [61]:
#The in operator tells us whether something is a key in the dictionary
print ('Saturn' in planet_to_initial,
        'Betelgeuse' in planet_to_initial)

True False

In [68]:
#A for loop over a dictionary will loop over its keys
print (numbers,'\n')

for k in numbers:
    print("{} = {}".format(k, numbers[k]))

{'one': 'Pluto', 'two': 2, 'three': 3, 'eleven': 11}

one = Pluto
two = 2
three = 3
eleven = 11

We can access a collection of all the keys or all the values with `dict.keys()` and `dict.values()`, respectively.

In [69]:
# Get all the initials, sort them alphabetically, and put them in a space-separated string.
' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

The very useful `dict.items()` method lets us iterate over the `keys` and `values` of a dictionary simultaneously. (In Python jargon, `an item refers to a key, value pair`)

In [72]:
for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(10), initial))

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"

String `rjust()` and `ljust()`: <br>

The string `rjust()` method returns a new string of given length after substituting a given character in left side of original string.  <br>
The string `ljust()` method returns a new string of given length after substituting a given character in right side of original string.

In [79]:
txt = "banana"
x = txt.rjust(10,'*')
print(x, "is my favorite fruit.")

****banana is my favorite fruit.

In [80]:
txt = "banana"
x = txt.ljust(10,'*')
print(x, "is my favorite fruit.")

banana**** is my favorite fruit.

In [87]:
def is_valid_zip(zip_code):
    return len(zip_code) == 6 and zip_code.isdigit()
    pass

is_valid_zip("226007")

True

In [94]:
def word_search(doc_list, keyword):
    """
    Takes a list of documents (each document is a string) and a keyword. 
    Returns list of the index values into the original list for all documents 
    containing the keyword.

    Example:
    doc_list = ["The Learn Python Challenge Casino.", "They bought a car", "Casinoville"]
    >>> word_search(doc_list, 'casino')
    >>> [0]
    """
    # list to hold the indices of matching documents
    indices = [] 
    # Iterate through the indices (i) and elements (doc) of documents
    for i, doc in enumerate(doc_list):
        # Split the string doc into a list of words (according to whitespace)
        tokens = doc.split()
        # Make a transformed list where we 'normalize' each word to facilitate matching.
        # Periods and commas are removed from the end of each word, and it's set to all lowercase.
        normalized = [token.rstrip('.,').lower() for token in tokens]
        # Is there a match? If so, update the list of matching indices.
        if keyword.lower() in normalized:
            indices.append(i)
    return indices
    pass

doc_list = ["The Learn Python Challenge Casino.", "They bought a car", "Casinoville"]
word_search(doc_list, 'Casinoville')

[2]